* {
  font-family: DejaVu Nerd;
  font-size: 13px;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#workspaces {
  border-radius: 6px;
  background-color: transparent
}

#workspaces button {
  padding: 1px 8px 1px 8px;
  color: #565f89; /* gray */
  background-color: transparent;
  border: none;
  border-radius: 6px;
}

#workspaces button.active {
  color: #7aa2f7; /* blue */
}

#cpu,
#memory,
#disk,
#clock,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#battery {
  padding: 2px 10px 0 10px;
  border-radius: 6px;
  background-color: transparent
}

#cpu {
  color: #f7768e; /* pink */
}

#memory {
  color: #9ece6a; /* green */
}

#disk {
  color: #7dcfff; /* cyan */
}

#clock {
  color: #c0caf5; /* white */
}

#backlight {
  color: #ff9e64; /* orange */
}

#pulseaudio {
  color: #bb9af7; /* magenta */
}

#network {
  color: #73daca; /* aqua */
}

#network.disconnected {
  color: #db4b4b; /* red */
}

#bluetooth {
  color: #7aa2f7; /* blue */
}

#bluetooth.disconnected {
  color: #7aa2f7; /* blue */
}

#battery {
  color: #9ece6a; /* green */
}

#battery.charging,
#battery.critical,
#battery.full,
#battery.warning,
#battery.plugged {
  color: #9ece6a; /* green */
}

#battery.critical:not(.charging) {
  color: #db4b4b; /* red */
}
